version: "3.8"

services:
  minecraft:
    container_name: mc-fabric
    image: itzg/minecraft-server:latest
    deploy:
      resources:
        limits:
          cpus: "2"
    ports:
      - "25565:25565"      # Java
      - "19132:19132/udp"  # Bedrock
    environment:
      EULA: "TRUE"
      TYPE: FABRIC
      VERSION: 1.21.8
      ONLINE_MODE: "FALSE"
      MEMORY: 2G
      ENABLE_RCON: "true"
      RESOURCE_PACK: https://vanillatweaks.net/download/VanillaTweaks_r186893_MC1.21.x.zip
      DIFFICULTY: hard
      GAMEMODE: survival
      MOTD: "                   \u00A7afrogs\u00A7r.rocks"
      MODS: >-
        https://cdn.modrinth.com/data/P7dR8mSH/versions/CF23l2iP/fabric-api-0.133.4%2B1.21.8.jar,
        https://cdn.modrinth.com/data/wKkoqHrH/versions/Q7am23V6/geyser-fabric-Geyser-Fabric-2.8.3-b939.jar,
        https://cdn.modrinth.com/data/bWrNNfkb/versions/ps3IuRel/Floodgate-Fabric-2.2.5-b45.jar,
        https://cdn.modrinth.com/data/YlKdE5VK/versions/17bTjshZ/ViaFabric-0.4.19%2B118-main.jar,
        https://cdn.modrinth.com/data/uXXizFIs/versions/CtMpt7Jr/ferritecore-8.0.0-fabric.jar,
        https://cdn.modrinth.com/data/gvQqBUqZ/versions/pDfTqezk/lithium-fabric-0.18.0%2Bmc1.21.8.jar,
        https://cdn.modrinth.com/data/fQEb0iXm/versions/neW85eWt/krypton-0.2.9.jar,
        https://cdn.modrinth.com/data/VSNURh3q/versions/tlZRTK1v/c2me-fabric-mc1.21.8-0.3.4.0.0.jar,
        https://cdn.modrinth.com/data/ghrZDhGW/versions/T88D7KI1/skinrestorer-2.4.3%2B1.21.6-fabric.jar,
        https://cdn.modrinth.com/data/PExmWQV8/versions/Bu1RM4Ll/mods-command-mc1.21.8-1.1.11.jar,
        https://cdn.modrinth.com/data/cUhi3iB2/versions/w0oIAEFo/tabtps-fabric-mc1.21.8-1.3.28.jar,
        https://cdn.modrinth.com/data/1vkzEZjE/versions/aj90vTX9/forgivingvoid-forge-1.21.8-21.8.1.jar,
        https://cdn.modrinth.com/data/13RpG7dA/versions/bJYNHoyD/image2map-0.10.1%2B1.21.6.jar,
        https://cdn.modrinth.com/data/lL35xmSR/versions/m5qYhEeg/youritemsaresafe-1.21.8-4.7.jar,
        https://cdn.modrinth.com/data/e0M1UDsY/versions/mld0ZPD9/collective-1.21.8-8.4.jar,
        https://cdn.modrinth.com/data/Ps1zyz6x/versions/Bi5i8Ema/ScalableLux-0.1.5.1%2Bfabric.abdeefa-all.jar
      VIEW_DISTANCE: 8
      SIMULATION_DISTANCE: 8
      SPAWN_PROTECTION: 0
      USE_MEOWICE_FLAGS: "true"
      RCON_CMDS_STARTUP: |
        /op yolona_oss
        /op Ligul
        /op .AnxiousYapper99
      SYNC_SKIP_NEWER_IN_DESTINATION: "true"
    volumes:
      - ./mc-data:/data
    configs:
      - source: youritemsaresafe
        target: /config/youritemsaresafe.json5      
    restart: unless-stopped

configs:
  youritemsaresafe:
    content: |
      {
              // When enabled and a player dies without any items in their inventory, no chest or armor stand is generated.
              "mustHaveItemsInInventoryForCreation": false,
              // If a player head should be added to the armor stand. If a helmet is worn, this will be placed into the chest.
              "addPlayerHeadToArmorStand": true,
              // Whether an armor stand should be created on death. If disabled, the player's gear will be placed inside the chest.
              "createArmorStand": true,
              // Whether a sign should be placed on the chest with the name of the player who died there.
              "createSignWithPlayerName": true,
              // Whether materials are needed for the chest which spawns on death. This can be the actual chest or the costs in raw materials.
              "needChestMaterials": false,
              // Whether materials are needed for the armor stand to spawn on death. This can be the actual armor stand or the costs in raw materials.
              "needArmorStandMaterials": false,
              // Whether materials are needed for the creation of the sign when 'createSignWithPlayerName' is enabled.
              "needSignMaterials": false,
      }
