version: "3.8"

services:
  minecraft:
    container_name: mc-fabric
    image: itzg/minecraft-server:latest
    deploy:
      resources:
        limits:
          cpus: "2"
    ports:
      - "25565:25565"      # Java
      - "19132:19132/udp"  # Bedrock
    environment:
      EULA: "TRUE"
      TYPE: FABRIC
      VERSION: 1.21.8
      ONLINE_MODE: "FALSE"
      MEMORY: 2G
      ENABLE_RCON: "true"
      RESOURCE_PACK: https://vanillatweaks.net/download/VanillaTweaks_r186893_MC1.21.x.zip
      DIFFICULTY: hard
      GAMEMODE: survival
      MOTD: "                   \u00A7afrogs\u00A7r.rocks"
      MODS: >-
        https://github.com/FabricMC/fabric/releases/download/0.133.4%2B1.21.8/fabric-api-0.133.4+1.21.8.jar,
        https://cdn.modrinth.com/data/wKkoqHrH/versions/Q7am23V6/geyser-fabric-Geyser-Fabric-2.8.3-b939.jar,
        https://cdn.modrinth.com/data/bWrNNfkb/versions/ps3IuRel/Floodgate-Fabric-2.2.5-b45.jar,
        https://cdn.modrinth.com/data/YlKdE5VK/versions/17bTjshZ/ViaFabric-0.4.19%2B118-main.jar,
        https://cdn.modrinth.com/data/uXXizFIs/versions/CtMpt7Jr/ferritecore-8.0.0-fabric.jar,
        https://cdn.modrinth.com/data/gvQqBUqZ/versions/pDfTqezk/lithium-fabric-0.18.0%2Bmc1.21.8.jar,
        https://cdn.modrinth.com/data/fQEb0iXm/versions/neW85eWt/krypton-0.2.9.jar,
        https://cdn.modrinth.com/data/VSNURh3q/versions/tlZRTK1v/c2me-fabric-mc1.21.8-0.3.4.0.0.jar,
        https://cdn.modrinth.com/data/ghrZDhGW/versions/T88D7KI1/skinrestorer-2.4.3%2B1.21.6-fabric.jar,
        https://cdn.modrinth.com/data/PExmWQV8/versions/Bu1RM4Ll/mods-command-mc1.21.8-1.1.11.jar,
        https://cdn.modrinth.com/data/cUhi3iB2/versions/w0oIAEFo/tabtps-fabric-mc1.21.8-1.3.28.jar,
        https://cdn.modrinth.com/data/1vkzEZjE/versions/aj90vTX9/forgivingvoid-forge-1.21.8-21.8.1.jar,
        https://cdn.modrinth.com/data/13RpG7dA/versions/bJYNHoyD/image2map-0.10.1%2B1.21.6.jar,
        https://cdn.modrinth.com/data/yn9u3ypm/versions/gdZmLCZD/graves-3.8.1%2B1.21.6.jar,
        https://cdn.modrinth.com/data/Ps1zyz6x/versions/Bi5i8Ema/ScalableLux-0.1.5.1%2Bfabric.abdeefa-all.jar
      VIEW_DISTANCE: 8
      SIMULATION_DISTANCE: 8
      SPAWN_PROTECTION: 0
      USE_MEOWICE_FLAGS: "true"
      RCON_CMDS_STARTUP: |
        /op yolona_oss
        /op Ligul
        /op .AnxiousYapper99
    volumes:
      - ./mc-data:/data
    restart: unless-stopped
